﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="Proyecto_1.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <!-- Comentario 1 -->
        <%--Comentario 2--%>
    <h2>Hola...</h2>
        <asp:Label ID="Label1"  
                   runat="server" 
                   Text="Label">
        </asp:Label>
        <br />
        <input id="Submit1" type="submit" value="submit" />
        <input id="Button1" type="button" value="button" />
        <asp:Button ID="Button2" runat="server" Text="Button" OnClick="Button2_Click" />
    
        <br />
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button3" runat="server" Text="Conversiones" OnClick="Button3_Click" />
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>    

        <hr />
        <asp:Button ID="Button4" runat="server" Text="Crear Persona" OnClick="Button4_Click" />
        <asp:Button ID="Button5" runat="server" Text="Crear Cliente" OnClick="Button5_Click" />
        <br />
        ID: <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
        <br />
        Nombre: <asp:TextBox ID="TextBox3" runat="server"></asp:TextBox>
        <br />
        Apellidos: <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
        <br />
        Fecha Factura: <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>


        <br />
        <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>

    </div>
    </form>
</body>
</html>
